* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #000;
  color: #fff;
}

/* NAVBAR */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background: black;
}

/* LOGO */
.logo img {
  height: 100px;      /* logo size */
  width: auto;
  max-width: 350px;
}

/* MENU */
.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;

}

nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

nav a:hover {
  color: red;
}

/* HERO */
.hero {
  height: 80vh;
  background: url("https://images.unsplash.com/photo-1511671782779-c97d3d27a1d4") center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text h1 {
  font-size: 50px;
  color: red;
  text-shadow: 0 0 15px red;
}

.section {
  padding: 50px 20px;
  max-width: 900px;
  margin: auto;
}

.section h2 {
  color: red;
  margin-bottom: 15px;
}

.social a {
  margin-right: 15px;
  color: red;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
  background: #111;
}
.site-logo {
  height: 50px;
  width: auto;
  display: block;
}.logo {
  height: 100px;        /* logo clear & visible */
  width: auto;
  max-width: 260px;
  padding: 5px 10px;
}

.logo {
  overflow: visible;
}


